<%= form_for([@user, @article, @comment])  do |f| %>
  <% if @comment.errors.any? %>
    <div class="alert alert-error">
      <h4>We are sorry but your comment can't be saved cause:</h4>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hero-single-comment">
    <table>
      <tr>
        <td><%= image_tag(@user.image_url, :size => "40x40") %></td>
        <td><h3><%= link_to( @user.name + " " + @user.surname, @user, :class => "btn-link") + " " %>says:</h3></td>
      </tr>
    </table>
    <div class="field">
      <%= f.text_area :content, :class => "comment-area", :rows => "3" %>
    </div>
    <p class="numChar">140 characters</p>
    <div class="field datetimeHidden">
      <%= f.label :datetime %><br />
      <%= f.datetime_select :datetime %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
  
<% end %>