<h1>Listing comments</h1>

<table class="table table-hover table-bordered">
  <tr>
    <th>Content</th>
    <th>Datetime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @article.comments.each do |comment| %>
  <tr>
    <td><%= raw truncate( comment.content, :length => 200, :omission => (link_to ' ..Continued', user_article_comment_path(@user, @article, comment), :class => "btn-link" ) ) %></td>
    <td><%= comment.datetime %></td>
    <td><%= link_to raw('<i class="icon-home glyph"></i>'), user_article_comment_path(@user, @article, comment), :class => "btn btn-success",:title => "Show" %></td>
    <td><%=  link_to raw('<i class="icon-pencil glyph"></i>'), edit_user_article_comment_path(@user, @article, comment), :class => "btn btn-primary",:title => "Edit" %></td>
    <td><%=  link_to raw('<i class="icon-trash glyph"></i>'), user_article_comment_path(@user, @article, comment), :class => "btn btn-danger", :title => "Detroy", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Comment', new_user_article_comment_path, method: :get, :class => "btn btn-primary" %>