<%= form_for([@user, @article])  do |f| %>

  <% if @article.errors.any? %>
    <div class="alert alert-error">
      <h4>We are sorry but this article can't be saved cause:</h4>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hero-unit">
    <%= f.label :title %>
    <%= f.text_field :title %><br/>
    <%= f.label :content %>
    <%= f.text_area :content %><br/>
    <div class="datetimeHidden">
    <%= f.label :datetime %><br />
    <%= f.datetime_select :datetime %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
