<%= form_for(@user, :html => {:class => "form-signup form-horizontal"}) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :placeholder => "Your name" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :surname, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :surname, :placeholder => "Your surname" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email, :placeholder => "Your email" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, "Confirm", :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :placeholder => "Confirm" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image_url, "Your image path", :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :image_url, :placeholder => "Image path" %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", :class => "btn btn-large btn-primary" %>
  </div>
<% end %>