<% if notice%><p class="alert alert-success"><%= notice %></p><% end %>
<% if flash[:error] %><p class="alert alert-error"><%= flash[:error] %></p><% end %>

<h1>Listing users</h1>

<table class="table table-hover table-bordered">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Number of articles</th>
    <th>Number of comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= image_tag user.image_url %></td>
    <td><%= user.name %></td>
    <td><%= user.surname %></td>
    <td><%= user.email %></td>
    <td><%= user.articles.count %></td>
    <td><%= user.comments.count %></td>
    <td><%= link_to raw('<i class="icon-home glyph"></i>'), user, :class => "btn btn-success",:title => "Show" %></td>
    <td><%= link_to raw('<i class="icon-pencil glyph"></i>'), edit_user_path(user), :class => "btn btn-primary",:title => "Edit" %></td>
    <td><%= link_to raw('<i class="icon-trash glyph"></i>'), user, :class => "btn btn-danger",:title => "Destroy", method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New User', new_user_path, method: :get, :class => "btn btn-primary btn-large" %>